.auth-container {
  min-height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7f8fa;
}

.auth-card {
  width: 100%;
  max-width: 400px;
  padding: 32px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

.auth-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.auth-input {
  width: 94%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
  font-size: 14px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.auth-btn:disabled {
  opacity: 0.6;
}

.auth-footer {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.auth-link {
  color: black;
  font-weight: 600;
  cursor: pointer;
}
