/* ==============================
   PAGE BACKGROUND
============================== */
.auth-container {
  min-height: 92vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

/* ==============================
   BRAND
============================== */
.auth-header {
  text-align: center;
}

.brand {
  font-size: 42px;
  font-weight: 800;
  background: linear-gradient(90deg, #ffffff, #bbb0b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.tagline {
  margin-top: 6px;
  color: #ffffff;
  font-size: 15px;
}

/* ==============================
   CARD
============================== */
.auth-card {
  width: 100%;
  max-width: 420px;
  padding: 34px;
  background: rgb(194, 194, 194);
  border-radius: 22px;
  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.08);
}

/* ==============================
   TITLES
============================== */
.welcome {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 4px;
  color:black;
}

.subtitle {
  text-align: center;
  color: #000000;
  margin-bottom: 24px;
}

/* ==============================
   ERROR
============================== */
.auth-error {
  color: #ef4444;
  text-align: center;
  margin-bottom: 14px;
  font-size: 14px;
}

/* ==============================
   INPUTS
============================== */
.auth-input {
  width: 92%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 2px solid #e5e7eb;
  margin-bottom: 14px;
  font-size: 15px;
  background: #f9fafb;
  transition: all 0.2s ease;
}

.auth-input:focus {
  outline: none;
  border-color: #000000;
  background: white;
}

/* ==============================
   BUTTON
============================== */
.auth-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(90deg, #000000, #000000);
  color: white;
  font-weight: 600;
  font-size: 15px;
  ;
  transition: all 0.25s ease;
}

.auth-btn:hover:not(:disabled) {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(45, 45, 45, 0.35);
}

.auth-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* ==============================
   SIGNUP
============================== */
.signup {
  text-align: center;
  margin-top: 18px;
  color: #6b7280;
  font-size: 14px;
}

.signup span {
  color: #ff4d00;
  font-weight: 600;
  ;
}

/* ==============================
   MOBILE
============================== */
@media (max-width: 480px) {
  .auth-card {
    padding: 26px 20px;
  }

  .brand {
    font-size: 34px;
  }
}
